<aside class="sidebar">
	<div class="brand">
		
		<div>
			<div class="h-04" style="margin:0;">EnerTEF</div>
			<div class="c-01 text-dark" style="opacity:.75">Portal</div>
		</div>
	</div>

	<nav class="nav">
		<a routerLink="/typography" routerLinkActive="active">Typography</a>
		<a routerLink="/colors" routerLinkActive="active">Colors</a>
		<a routerLink="/auth" routerLinkActive="active">Auth</a>
		<a routerLink="/requests" routerLinkActive="active">Service Requests</a>
		<a routerLink="/proposals" routerLinkActive="active">Service Proposals</a>
		<a routerLink="/experiments" routerLinkActive="active">Experiments</a>
		<a routerLink="/resources" routerLinkActive="active">Resource Monitoring</a>
		<a routerLink="/payments" routerLinkActive="active">Payments</a>
		<a routerLink="/components" routerLinkActive="active">Components</a>
		<a routerLink="/grid" routerLinkActive="active">Grid System</a>
	</nav>
</aside>
